@import "tailwindcss";
@plugin "daisyui";

.albums-grid {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 2xl:grid-cols-8 gap-5 auto-rows-[1fr] pb-10 z-0;
}

.main-background {
  @apply p-5 transition-all duration-500 bg-gradient-to-b from-black to-orange-950;
}

.bee-animation {
  display: inline-block;
  animation: fly 3s infinite ease-in-out;
}

@keyframes fly {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.album-animation {
  animation: linkClick 0.3s ease-in-out;
}

.album-animation:active,
.album-animation:target {
  transform: scale(0.7);
  opacity: 0.8;
}

.album-animation:hover {
  transform: scale(0.99);
  opacity: 0.7;
  transition: 0.5s ease all;
}

@keyframes linkClick {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.95);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
